In [25]:
# Function to print all combinations of pairs of integers in a unique list
# [1,2,3] ---->(1,2),(1,3),(2,3) ----> 3C2---> 3!/(3-2)!*2!

def threecombinations(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
threecombinations([1,2,3,4,5])

1 2
1 3
1 4
2 3
2 4
3 4

In [27]:
def threecombinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
threecombinations([1,2,3,4,5])


# Another method:

def threecombinations(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
                print(li[i],li[j],li[k])
    return
threecombinations([1,2,3,4,5])

1 2 3
1 2 4
1 2 5
1 3 4
1 3 5
1 4 5
2 3 4
2 3 5
2 4 5
3 4 5

In [ ]:
def medium(li,k):
    count=1
    while(True):
        li3=differencepairs(li)
        if li3[0] ==li3[1]:
            break
        if len(li3[0])>=k:
            return sorted(li3[0],reverse=True)[k]
    return -1

# Function to identify differences of all pairs of numbers and add those differences to same list
# It returns the updated list and original list 
def differencepairs(li):
    cli=li.copy()
    newelements=[]
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            d=abs(int(li[i])-int(li[j]))
            if d not in li and d not in newelements:
                newelements.append(str(d))
    li.extend(newelements)
    return [cli,li]
#differencepairs([1,9,8])

with open('DataFiles/medium-input.txt','r') as f:
    t=input(f.readline())
    for i in range(t):
        f.readline()
        li=f.readline().split()
        k=int(f.readline())
medium(li,k)

In [ ]:
#list data referencing vs data copy
#a=[1,2,3]
b=[1,2,3]
a=b.copy() #  data copy through indices
a=b[:]  # data copy through indirect reference
a=b # data referencing direct way

### Set - Data Structure in Python:

* Represented by "{}"
* Set is mutable
* set contains only unique values
* there is no index order for set

In [2]:
a={1,2,3,4,5,6,6} 
a # set contains only unique values

{1, 2, 3, 4, 5, 6}

In [13]:
a.add(7) # adding the single element 7 into the set
a
for i in a:
    print(i,end=" ") # Accessing elements

b={7,8,9}
li=[11,12,13]
a.update(b,li) # adding multiple elements at a time from a list and set 
a   
a.discard(13) # removing an element from the set
a
a.discard(b)
a

1 2 3 4 5 6 7 8 9 11 12

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12}

In [20]:
a= {10,1,2,3,4,5,6}
b={7,8,9,1,2,3}
c={111,123}

a.union(b) # combing all the elments from a and b -----A U B =B U A
b.union(a)

a.intersection(b)
b.intersection(a)   # gives the common elements from a and b-----B n A = A n B

{1, 2, 3}

In [21]:
a.isdisjoint(c)  # gives whether the two sets are having any relation or not

True

In [23]:
a-b # all elements of a which are not in b i.e., common elements will be removed
b-a # all elements of b which are not in a

{7, 8, 9}

In [25]:
sorted(a) # gives some order to elements in the set

[1, 2, 3, 4, 5, 6, 10]

In [26]:
a ^ b # gives the elements either in a or in b

{4, 5, 6, 7, 8, 9, 10}

In [27]:
d=set() # Creation of an empty set
d

set()

In [28]:
li=[1,2,3,4,5,6,7,1,2,3,4]
u=set(li)
u

{1, 2, 3, 4, 5, 6, 7}

### Functional Programming

* Procedural ---- C

* Object Oriented ---- Java,Python

* Scripting   ----- PHP,Python,Javascript,Shell,Perl

* Functional ------ Python, Haskell, Scala

* Logic ----Prolog,Lisp


### List Comprehensions

In [33]:
# N natural numbers in a list using normal method

n=10
l=[]
for i in range(1,n+1):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
# N natural numbers in a list using functional programming method

li=[i for i in range(1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
# Apply list comprehension to store the cubes of n natural numbers:

li=[i**3 for i in range(1,11)]
li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [46]:
# Function to calculate the factorial:
n=5
def factorial(n):
    if n==0 or n==1:
        return 1
    return n * factorial(n-1)

# Apply list comprehensio to calculate factorial of n:

li=[factorial(i) for i in range(1,n+1)]
li

[1, 2, 6, 24, 120]

In [72]:
# Store cummulative sum of numbers till n in a list:

def cummulative(n):
    s=0
    for i in range(1,n+1):
        s+=i
    return s
#cummulative(3)
n=5
li=[cummulative(i) for i in range(1,n+1)]
li


# Another method:
n=3
cummulativesum=[sum(range(1,i+1)) for i in range(1,n+1)]
cummulativesum

[1, 3, 6]

In [81]:
# List comprehension to store only leap years in a given time period:

st=1970
et=2019

leapyear= [i for i in range(st,et+1) 
           if (i%4==0 and i%100!=0) or i%400==0]
leapyear

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

### Iterators

* Iterable -----Which can be iterate
   - strings,lists,tuples,sets and dictionaries
* To convert iterable to iterator -----iter()
* For Loop:  -continues till the completion 
             - doesn't stop until break and satisfy the condition
        
        
* Iterator:  - can stop at anytime during execution.
             - can be paused

In [114]:
it=iter("Python")
print(next(it))

P

### Generators

* Geneartor is  a Function

In [134]:

def generator():
    n=2
    for i in range(1,5):
        n**=3
        yield n
    
a=generator()
next(a)
next(a)
next(a)
next(a)

2417851639229258349412352

In [148]:

def generator():
    n=2
    while True:
        n**=3
        yield n
    
b=generator()

for i in range(0,5):
    print(next(b))

8
512
134217728
2417851639229258349412352
14134776518227074636666380005943348126619871175004951664972849610340958208