In [1]:
l=input()
l=l.split()
a=[]
for i in range(len(l)):
    if len(l[i])==3:
        a.append(l[i])
a=list(map(int,a))
b=sum(a)//len(a)
print(b)

1 2 3 4 100
100

### Python libraries for Data Analysis

#### pandas-Data Analysis
- Series object-one dimensional data
- Data frame object-two dimensional data
- Reading data from csv files into data frames
- Processing/Accessing  data frames
  - Columns
  - Rows
- Updating Data Frames
- Writing Data frame back to csv files

In [19]:
# Function to read csv data into data frame and returns the dataframe object

filepath="DataFiles/income.csv"

import pandas as pd
def readcsvdata(filepath):
    return pd.read_csv(filepath)
    
readcsvdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,62993,62993,62993,62993,62993,62993,62993,62993,62993,62993,62993
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [20]:

# Function to print all column names in a single line:
#GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013 
incomedf=readcsvdata(filepath)
def printdataframecolumns(df):
    columns=df.columns
    for column in columns:
        print(column,end=" ")
    return
printdataframecolumns(incomedf)

GEOID State 2005 2006 2007 2008 2009 2010 2011 2012 2013

In [21]:
# Function to access a row based on a unique column value:

def accessdataframerow(df,key):
    for row in df.values:
        if key in row:
            for item in row:
                print(item,end=' ')
            print("\n")
    return

accessdataframerow(incomedf,"Alaska")

04000US02 Alaska 55891 56418 62993 63989 61604 57848 57431 63648 61137

In [22]:
# Accessing a unique value based on row,column information
# Income of a state in a given year
incomedf=readcsvdata(filepath)
def getrowindex(df,rowkey):
    for i in range(len(df.values)):
        if df.values[i][0]==rowkey or df.values[i][1]==rowkey:
            rowindex=i
    return rowindex

def getcolumnindex(df,columnkey):
    for i in range(len(df.columns)):
        if df.columns[i]==columnkey:
            columnindex=i
    return columnindex
    
    
def valuefromrowcolumn(df,rowkey,columnkey):
    rowindex=getrowindex(df,rowkey)
    columnindex=getcolumnindex(df,columnkey)
    return df.values[rowindex][columnindex]
    

valuefromrowcolumn(incomedf,'California','2009')

56134

In [23]:
# Function to update data based on rowkey and column key:

def updateDataCellFromRowColumn(df, rowkey, columnkey, newdata):
    rowindex = getrowindex(df, rowkey)
    columnindex = getcolumnindex(df, columnkey)
    row = df.values[rowindex]
    row[columnindex] = newdata
    df.loc[rowindex] = row
    return

updateDataCellFromRowColumn(incomedf, 'Arizona', '2007', 62993)
incomedf

UnboundLocalError: local variable 'rowindex' referenced before assignment

In [ ]:
accessdataframerow(incomedf,62993)

In [ ]:
# function to write dataframe to csv

incomedf.to_csv(filepath,index=False)

In [ ]:
# Fuction  to add a new row of data to Dataframe

def addrowdataframe(df,rowdata):
    lastrowindex=len(df.values)
    df.loc[lastrowindex+1]=rowdata
    return
rowdata=[1,2,3,4,5,6,7,8,9,10,11]
addrowdataframe(incomedf,rowdata)
incomedf

In [15]:
# Function to delete a row in a Dataframe

def deleterowdataframe(df, rowkey):
    rowindex = getrowindex(df, rowkey)
    return df.drop(rowindex) 

incomedf = deleterowdataframe(incomedf, 1)
incomedf

UnboundLocalError: local variable 'rowindex' referenced before assignment