### Markdown Basics
* **Bold**
* *italic*
* ***bold and italic***
* Normal text
  * Sublist1
  * Sublist2
* ~~strike~~


>1. Ordered list element1
>2. ordered list element2




`printf("Hello Markdown")`


<https://help.github.com/en/articles/getting-started-with-writing-and-formatting-on-github>


[Jupyter logo](jupyter.png)

![Jupyter Logo](jupyter.png)
 
<img src="jupyter.png" style="float:left">


I get 10 times more traffic from [Google] [1] than from
[Yahoo] [2] or [MSN] [3].

  [1]: http://google.com/        "Google"
  [2]: http://search.yahoo.com/  "Yahoo Search"
  [3]: http://search.msn.com/    "MSN Search"

# Python Basics


## Python Version 3.7

In [1]:
# python comments


print("Hello,Good Afternoon!") # Basic output
print("Hello Python")
print("Hello Good Afternoon", "!" , end="||")

Hello,Good Afternoon!
Hello Python
Hello Good Afternoon !||

# Assignment

In [2]:
n1=123456 #Single variable assignment
eg:123456
n1

123456

In [3]:
n2=n3=n4=n1 #Multi variable assignment

n3

#Multi variabe assignment with variables
a,b,c = 123,234,345
c,n2
print(a,b,c)
a,b,c

123 234 345

(123, 234, 345)

### Data Types
- int
- float
- string

In [4]:
type(a)
s1 = "python"
type(s1)

f1 = 12.345
type(f1)


int(f1)
float(str(int(f1)))

12.0

### Arthmetic Operations

* +
* -
* /
* *

In [5]:
n1 % 11

n3 = n2 ** 12

type(n3)
len(str(n3)) 
n3


atoms = 10 ** 82
len(str(atoms))
atoms

x = 1 + 2 * 3 - 8 / 4
print(x)

5.0

### Conditionals

In [6]:
if atoms < 10 ** 82:
    print("TRUE")
else:
    print("FALSE")

FALSE

In [7]:
# check if an numner is even


n=123
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

Odd

In [8]:
#### Find the greatest of 3 numbers

n1 = input("Enter the first number:")
n2 = input("Enter the second number:")
n3 = input("Enter the third number:")

if n1 >= n2 and n1 >= n3:
    print(n1," is greatest")
elif n2 >= n3 and n2 >= n1:
    print(n2," is greatest")
else:
    print(n3," is greatest")

Enter the first number:23
Enter the second number:22
Enter the third number:14
23  is greatest

In [9]:
# n1,n2,n3 = -1,-100,-50
if -1 > -100 and -1 > -50:
    print(True)

True

In [34]:
# Check if a year is a leap year

year = int(input("enter the year:"))
if (year % 400 == 0):
    print(year,"is leap year")
elif ((year % 4 == 0) and (year % 100 != 0)):
    print(year,"is leap year")
else:
    print(year,"is not a leap year")

enter the year:2010
2010 is not a leap year

In [41]:
#calculate the number of digits in a number
n1=1234567
print(len(str(n1)))

7

In [37]:
#check if a number is a mutliple of 10
n1 = int(input("Enter the number:"))
if n1%10==0:
    print(n1," is mutliple of 10")
else:
    print(n1,"is not a multiple of 10")

Enter the number:30
30  is mutliple of 10

In [46]:
#check if a number is factor of 1000

if 1000%n1==0:
    print("factor of 1000")
else:
    print("not a factor of 1000")

not a factor of 1000

In [43]:
#check if given string is equal to a number

s1="python"
n1=123456
if str(n1)==s1:
    print(n1,"is equal to", s1)
else:
    print(n1,"is not equal to",s1)

123456 is not equal to python

In [44]:
#calculate square root of a number without functions
n1=1223
n1**0.5

34.97141690009142

In [45]:
# calculate the number of nano seconds in a 
#given year(considering leap year logic)

year=2019
if year %400 == 0 or ((year % 4 == 0) and (year % 100 != 0)):
    print(366*24*60*60*(10**9))
else:
    print(365*24*60*60*(10**9))

31622400000000000